<footer class="site-footer">
  <div class="shell site-footer__grid">
    <div>
      <a class="brand brand--footer" href="/" aria-label="NPO Grant Writing home">
        <img class="brand__mark" src="/images/npo-quill.png" width="54" height="54" alt="" />
        <span class="brand__copy">
          <span class="brand__name">NPO Grant Writing</span>
          <span class="brand__tagline">{{site.tagline}}</span>
        </span>
      </a>
      <p class="site-footer__summary">Grant writing and disciplined funding portfolio support for mission driven nonprofits.</p>
    </div>
    <div>
      <p class="footer-heading">Contact</p>
      <address>
        <a href="mailto:{{site.email}}">{{site.email}}</a><br />
        <a href="tel:{{site.phoneHref}}">{{site.phoneDisplay}}</a><br />
        {{site.address.street}}<br />
        {{site.address.city}}, {{site.address.region}} {{site.address.postalCode}}
      </address>
    </div>
    <div>
      <p class="footer-heading">Explore</p>
      <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/grant-growth-system.html">Grant Growth System</a></li>
        <li><a href="/about.html">Meet the Team</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/privacy.html">Privacy</a></li>
      </ul>
    </div>
  </div>
  <div class="shell site-footer__legal">
    <p>© <span data-current-year>{{currentYear}}</span> {{site.legalName}} dba {{site.name}}.</p>
    <p>{{site.registration.label}}, Certificate {{site.registration.certificate}}. Current through {{site.registration.expires}}.</p>
    <p>Grant decisions are made solely by funders. NPO Grant Writing does not guarantee awards or charge fees based on a percentage of grant funding secured.</p>
  </div>
</footer>
